<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-6">
        <div id="map_canvas" style="width:100%;height:400px;background-color:#CCC;"></div>
     </div>
     <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDp2-lysiXUsIYiqNfmNm9mH11c2AO1ql4&language=de"></script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map_canvas');
    var mapOptions = {
      center: new google.maps.LatLng(44.5403, -78.5463),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(map_canvas, map_options);
  }
</script>

</body>
</html>